#FishingMenu {
  width: 8em;
  position: absolute;
  bottom: 0;
  left: 0;
  .FishButton {
    width: 100%;
    text-align: center;
    // margin-bottom: 1em;
    height: 6.8em;
    cursor: pointer;
    &:hover {
      background-color: salmon;
    }
    img {
      padding-top: 0.2em;
      margin: 0 auto;
      margin-bottom: 0.2em;
      width: 5em;
      display: block;
    }
    padding-bottom: 0.2em;
  }

  .MenuButton {
    text-align: center;
    line-height: 2.3em;
    padding-top: 0.1em;
    border: 0.3em solid white;
    cursor: pointer;
    &.Cancel {
      background-color: salmon;
      height: 5em;
      margin-bottom: 0.5em;
    }

    &.Close {
      background-color: rgb(214, 56, 38);
    }
    &:hover {
      background-color: black;
    }
  }
  .Expanded {
    background-color: grey;
  }
  &.Closed {
    height: 3em;
  }
  &.Open {
    height: 17em;
    background-color: grey;
  }
  &.Touch {
    height: 9.2em;
  }
}

#TouchScreen {
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  span {
    display: inline-block;
    margin-top: 1em;
    // margin: 0 auto;
    // margin-top: 50%;
  }
}

#Floater {
  color: black;
  height: 17em;
  cursor: pointer;
  div {
    width: 100%;
    text-align: center;
    height: 1.3em;
    top: 6em;
    left: -0.3em;
    position: absolute;
  }
  svg {
    display: block;
    width: 100%;
    height: 100% ;
    background-image: linear-gradient(to bottom, #9de0ad, #45ada8, #547980);
    line {
      stroke: black;
      stroke-width: 5px;
    }
  }
}
